*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
}
.container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.cardWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}